@font-face {
    font-family: Kozuka Gothic Pro;
    src: url("fonts/KozGoPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Kozuka Gothic Pro Extra Light;
    src: url("fonts/KozGoPro-ExtraLight.otf") format("opentype");
}

body {
    background-color: #D9756C;
}

h1, h2 {
    color: #FFFFFF;
}

h1 {
    font-family: "Kozuka Gothic Pro Extra Light", sans-serif;
    font-size: 30em;
    text-align: center;
    padding-top: 0.3em;
    /*width: 100%;*/
    display: block;
}

h2 {
    font-family: "Kozuka Gothic Pro", sans-serif;
    font-size: 1.2em;
    letter-spacing: 1.2em;
    text-align: right;
    display: block;
}

.header_two {
    text-align: right;
    width: 60%;
    margin: 0 auto;
}

.page {
    text-align: center;
}

.header {
    display: inline-block;
}